/* Темная тема */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d3d3d3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  user-select: none;
  -webkit-user-select: none;
  background-color: gray;
  padding: 0px;
  margin: 0;
  font-family: "Comic Sans MS", sans-serif;
  overflow: hidden;
}

.title {
    user-select: all;
    -webkit-user-select: all;
    display: flex;
    padding: 5px;
    width: 100%;
    height: 50px;
    text-align: center;
    justify-content: space-between;
    background-color: #cacaca;
    border-radius: 0px, 0px, 15px, 15px;
    border-bottom: 2px solid black;
}

.title div {
    display: flex;
    justify-content: center;
}

.title div a {
    justify-content: center;
    align-items: center;
    display: flex;
    outline: none;
    text-decoration: none;
    gap: 10px;
}

.image-icon {
    user-select: none;
    -webkit-user-select: none;
    width: 100%;
    height: auto;
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
    display: inline;
    gap: 8px;
    align-items: center;
    border: 0px solid white;
    border-radius: 10px;
}

.text {
    user-select: text;
    -webkit-user-select: text;
    color: rgb(0, 0, 0);
    font-size: clamp(1.2rem, 3vw, 4em);
    text-align: center;
}
#user_name {
    user-select: text;
    -webkit-user-select: text;
    justify-self: center;
    align-self: center;
    margin-right: 10px;
    color: #cb2ceb;
}
.main {
    display: flex;
    height: calc(100vh - 7vh);
}
.list_of_chats {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    justify-content: start;
    align-items: center;
    background-image: url(https://img.freepik.com/premium-photo/blue-background-empty-vertical-abstract-gradient-backdrop-illustration-with-copy-space-textured_7954-35238.jpg);
    background-size: cover;
    width: 30%;
    min-width: 250px;
    border-right: 2px solid #222222;
    overflow-y: auto;
}
.chat {
    width: 100%;
    min-width: 100px;
    background-image: url(https://img.freepik.com/premim-photo/abstract-colorful-bent-paper-background-design_851755-6183.jpg?semt=ais_hybrid&w=740&q=80);
    background-size: cover;
    flex: 1;
}

@media (max-width: 600px) {
    .list_of_chats {
        width: 100%;
        border-right: none;
    }
    .chat {
        display: none;
    }
}
.list_of_chats button {
    background-color: #cacaca;
    display: flex;
    width: 98%;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    border: 0px solid black;
    border-radius: 10px;
    cursor: pointer;
    border-bottom: 4px solid black;
}
.list_of_chats button:hover {
    background-color: #e2e2e2;
    border-bottom: 4px solid rgb(44, 44, 44);
}
.list_of_chats button:active {
    border-bottom: 4px solid gray;
}
.list_of_chats button img {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 40px;
}
.list_of_chats button span {
    font-size: 0.9rem;
    font-weight: 500;
}
.chat-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cacaca;
    width: 100%;
    height: 50px;
    border: none;
    border-top: 2px solid black;
}
.chat-bar div {
    display: flex;
    gap: 10px;
    align-items: center;
}
.chat-bar img {
    width: 40px;
    height: 40px;
}
.chat-bar span {
    font-size: 30px;
}

.input-div {
    position: fixed;
    width: 60%;
    max-width: 600px;
    height: 50px;
    bottom: 5%;
    margin-left: 5%;
    display: flex;
    gap: 5px;
}
.input-div input {
    background-color: #cacaca;
    width: 60%;
    height: 100%;
    border: none;
    border-radius: 20px;
    border-bottom: 3px solid black;
    font-size: 1.3rem;
    padding: 10px;
}
.input-div input:hover {
    background-color: #e2e2e2;
    border: none;
}
.input-div input:focus {
    background-color: #ffffff;
    border-bottom: none;
}
.input-div button {
    background-color: #cacaca;
    height: 100%;
    width: 50px;
    border: none;
    border-bottom: 3px solid #000000;
    border-radius: 50px;
}
.input-div button:hover {
    background-color: #e2e2e2;
    border: none;
}
.input-div button img {
    width: 30px;
    height: 30px;
}

.dialog {
    display: flex;
    width: 100%;
    height: max-content;
    max-height: 90%;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 100px;
    gap: 10px;
    overflow-y: scroll;
    white-space: nowrap;
}
.dialog .message {
    justify-items: end;
    padding-right: 10px;
    padding-left: 10px;
    width: max-content;
    max-width: 50%;
    background-color: #cb2ceb;
    margin-left: auto;
    border: none;
    border-radius: 20px;
}
.dialog .message h4 {
    user-select: text;
    -webkit-user-select: text;
    font-weight: 500;
    word-wrap: break-word;      
    overflow-wrap: break-word;  
    white-space: normal;
    max-width: 100%;
    margin-left: 1px;
    margin-right: 1px;
}
.mess-state {
    display: flex;
    width: 100%;
    height: max-content;
    align-items: center;
}
.mess-state h6 {
    width: max-content;
    margin-bottom: 1px;
    margin-left: 10px;
    margin-right: 5px;
    font-size: 12px;
    font-weight: 500;
}
.mess-state img {
    display: inline;
    width: 18px;
    height: 18px;
    align-self: center;
}
.dialog .capture {
    width: max-content;
    max-width: 80%;
    background-color: #cacaca;
    border: none;
    border-radius: 20px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
}
.dialog-img {
    display: block;
    width: 100%;
    max-width: 300px;
    height: 100%;
    justify-self: center;
    border: none;
    border-radius: 20px;
}
.dialog .capture h4 {
    user-select: text;
    -webkit-user-select: text;
    font-weight: 500;
    word-wrap: break-word;      
    overflow-wrap: break-word;  
    white-space: normal;
    max-width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}
.dialog .file {
    width: max-content;
    max-width: 50%;
    background-color: #cacaca;
    border: none;
    border-radius: 20px;
    border-bottom: 2px solid #000000;
}
.dialog .file .dialog-file {
    display: flex;
    padding: 5px;
    gap: 5px;
    background-color: #adadad;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid #7c7b7b;
    align-items: center;
}
.dialog .file .dialog-file img {
    width: 30px;
    height: 30px;
}
.dialog-file div {
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.dialog-file div span {
    font-size: 14px;
    font-weight: 100;
}
.file h4 {
    user-select: text;
    -webkit-user-select: text;
    font-weight: 100;
    margin-left: 5px;
    margin-right: 5px;
    word-wrap: break-word;      
    overflow-wrap: break-word;  
    white-space: normal;
}