h1 {
    text-align: center;
}

.center {
    text-align: center;
    display: flex;
}

button {
    display: inline;  
    margin: 0 auto;
    margin-top: 60px;
    width: fit-content;
    min-width: 120px;
    height: fit-content;
    min-height: 70px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 38px;
}